<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br />
    <%= f.datetime_select :from %>
  </div>
  <div class="field">
    <%= f.label :till %><br />
    <%= f.datetime_select :till %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.select :item_id, Item.all.map { |i| [i.name, i.id ]} %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select :user_id, User.all.map { |i| [i.name, i.id ]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
