<br /><strong><%= I18n.t("users.list") %></strong>

<br /><%= link_to 'Nový uživatel', new_user_path %>
<table class="calendar">
  <tr>
    <th>Jméno</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= link_to 'Ukázat', user %></td>
    <td><%= link_to 'Změnit', edit_user_path(user) %></td>
    <td><%= link_to 'Smazat', user, method: :delete, data: { confirm: 'Jste si jistý?' } %></td>
  </tr>
<% end %>
</table>

<br />

