

<table  class="calendar">
  <tr>
    <th colspan="7">
      <strong><%= @day.date.strftime("%d/%m/%Y") %></strong>
    </th>
  </tr>
<%= form_for(@day.day_collections.new, :url => datacenters_admin_process_days_path) do |f| %>

    <%= hidden_field_tag "day_id", @day.id %>
    <% for collection in @collections %>
      <tr>
       <%= fields_for "day_collections[]", collection do |fields|  %>
          <%= render "admin_manage_fields", :f => fields, :collection => collection, :checked => true  %>
      <% end %>
      </tr>

    <% end %>

    <% for collection in @collections_new %>
      <tr>
       <%= fields_for "day_collections_new[]", collection do |fields| %>
          <%= render "admin_manage_fields", :f => fields, :collection => collection,:checked =>false  %>
      <% end %>
      </tr>

    <% end %>
      <tr >
        <td colspan="7">
          <div class="actions">
            <%= f.submit  "Potvrdit" %>
          </div>
        </td>
      </tr>

<% end %>
</table>