<!DOCTYPE html>
<html>
<head>
  <title>Operations</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
       
  <div class="menu-holder">
	<ul id="nav">
		<% unless current_user.blank? %>
		<li><%= link_to "Datacentra", datacenters_path  %></li>
		<li><%= link_to "Uživatelé", users_path unless cannot? :manage, User %></li>
    <%  double = session[:double] == 'double' ? 'single' : 'double' %>   
		<li><%= link_to double,  datacenters_doubled_path(:double => double) %></li> 
		<li><%= link_to "Změnit heslo", edit_user_path(current_user) unless current_user.admin?  %></li>
		<li><%= link_to I18n.t("login.sign_out"), destroy_user_session_path, :method => :delete  %></li>

		<% end %>
	</ul>
  </div>	
<br />
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% unless current_user.blank? %>
	<strong><%= "Uživatel: ""#{current_user.name}" %></strong>
<% end %>

<%= yield %>

</body>
</html>
